In [1]:
import streamlit as st

In [5]:
import pandas as pd
df=pd.read_csv('heart (1).csv')

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler,LabelEncoder,OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import pickle
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [2]:
# df['ST_Slope'].value_counts()

In [4]:
X=df.drop(['HeartDisease','ExerciseAngina'],axis=1)
X
y=df['HeartDisease']

X_numeric=['Age','RestingBP','Cholesterol','FastingBS','MaxHR','Oldpeak']
X_categoric=['Sex','ChestPainType','RestingECG','ST_Slope']

a=Pipeline(steps=[('num',MinMaxScaler())])
b=Pipeline(steps=[('cat',OneHotEncoder())])

preprocess=ColumnTransformer(transformers=[('apply1',a,X_numeric),('apply2',b,X_categoric)])

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,Oldpeak,ST_Slope
0,40,M,ATA,140,289,0,Normal,172,0.0,Up
1,49,F,NAP,160,180,0,Normal,156,1.0,Flat
2,37,M,ATA,130,283,0,ST,98,0.0,Up
3,48,F,ASY,138,214,0,Normal,108,1.5,Flat
4,54,M,NAP,150,195,0,Normal,122,0.0,Up
...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,1.2,Flat
914,68,M,ASY,144,193,1,Normal,141,3.4,Flat
915,57,M,ASY,130,131,0,Normal,115,1.2,Flat
916,57,F,ATA,130,236,0,LVH,174,0.0,Flat
917,38,M,NAP,138,175,0,Normal,173,0.0,Up

In [4]:
a=X.iloc[1]
import numpy as np
b=np.array(a)
b.reshape(1,-1)

array([[49, 'F', 'NAP', 160, 180, 0, 'Normal', 156, 1.0, 'Flat']],
      dtype=object)

In [8]:
model=Pipeline(steps=[('preprocess',preprocess),('predict',LogisticRegression())])
model.fit(X,y)
with open('model_heartdisease.pkl', 'wb') as file:
    pickle.dump(model, file)

In [ ]:
# model=joblib.load('model_heartdisease.pkl')
# lab=joblib.load('lab_heartdisease.pkl')

# X=df.drop(['HeartDisease'],axis=1)
# data=X.iloc[5:450:3]

# prep=model['preprocess'].transform(data)
# predict=model['predict'].predict(prep)
# y_pred = lab.inverse_transform(predict)